<div class="panel__section">
  <span class="gray__color panel__title block ">Brand</span>
  <span class="branch__set block">
    <span class="checkbox__label flex flex__wrap align__center ">
      <input type="checkbox" checked name="address__info" id="abercrumbie" class="hide" value="false">
      <label class="block sky__blue position__rel checkbox " for="abercrumbie"></label>
      <label class="gray__color " for="abercrumbie">Abercrumbie</label>
    </span>
    <span class="checkbox__label flex flex__wrap align__center ">
      <input type="checkbox" name="address__info" id="fitch" class="hide" value="false">
      <label class="block sky__blue position__rel checkbox " for="fitch"></label>
      <label class="gray__color " for="fitch">Fitch</label>
    </span>
    <span class="checkbox__label flex flex__wrap align__center ">
      <input type="checkbox" checked name="address__info" id="adidas" class="hide" value="false">
      <label class="block sky__blue position__rel checkbox " for="adidas"></label>
      <label class="gray__color " for="adidas">Adidas Originals</label>
    </span>
    <span class="checkbox__label flex flex__wrap align__center ">
      <input type="checkbox" checked name="address__info" id="asos" class="hide" value="false">
      <label class="block sky__blue position__rel checkbox " for="asos"></label>
      <label class="gray__color " for="asos">ASOS</label>
    </span>
    <span class="checkbox__label flex flex__wrap align__center ">
      <input type="checkbox" name="address__info" id="cheap" class="hide" value="false">
      <label class="block sky__blue position__rel checkbox " for="cheap"></label>
      <label class="gray__color " for="cheap">Cheap Monday</label>
    </span>
  </span>
</div>

