<div class="panel__section">
  <span class="gray__color panel__title block ">Brand</span>
  <span class="branch__set block">
    <span class="checkbox__label flex flex__wrap align__center ">
      <input type="checkbox" checked name="address__info" id="address__info" class="hide" value="false">
      <label class="block sky__blue position__rel checkbox " for="address__info"></label>
      <label class="gray__color " for="address__info">Abercrumbie</label>
    </span>
    <span class="checkbox__label flex flex__wrap align__center ">
      <input type="checkbox" name="address__info" id="address__info" class="hide" value="false">
      <label class="block sky__blue position__rel checkbox " for="address__info"></label>
      <label class="gray__color " for="address__info">Fitch</label>
    </span>
    <span class="checkbox__label flex flex__wrap align__center ">
      <input type="checkbox" checked name="address__info" id="address__info" class="hide" value="false">
      <label class="block sky__blue position__rel checkbox " for="address__info"></label>
      <label class="gray__color " for="address__info">Adidas Originals</label>
    </span>
    <span class="checkbox__label flex flex__wrap align__center ">
      <input type="checkbox" checked name="address__info" id="address__info" class="hide" value="false">
      <label class="block sky__blue position__rel checkbox " for="address__info"></label>
      <label class="gray__color " for="address__info">ASOS</label>
    </span>
    <span class="checkbox__label flex flex__wrap align__center ">
      <input type="checkbox" name="address__info" id="address__info" class="hide" value="false">
      <label class="block sky__blue position__rel checkbox " for="address__info"></label>
      <label class="gray__color " for="address__info">Cheap Monday</label>
    </span>
  </span>
</div>

