<main 
  class="card__list flex__one">
  <span 
    class="flex flex__wrap space__between card__list__md__flex__start card__list__sm__space__around">

    <div class="card position__rel box__shadow__normal card__margin__right card__sm__no__margin__right ">
      <div class="item__photo margin__auto block">
        <span class="block">
          <img class="object__fit" src="common/images/shirt1.png" alt="productImg">
        </span>
        <div class="item__photo__hover flex">
          <div class="hover__content margin__auto flex flex__column space__between">
            <span class="content__icon block margin__hori__auto">
              <button class="unset__properties flex">
                <i aria-hidden="true" class="heart outline icon"></i>
              </button>
            </span>
            <span
              class="block content__button margin__hori_auto">
              <a class="item__button block text__center quick__view" href="/view-item">Quick View</a>
            </span>
          </div>
        </div>
      </div>
      <span class="item__title block text__center">
        Men's Knitware Offers
      </span>
      <span class="item__price block text__center">
        <span class="block text__center bold red__color">£14.99</span>
      </span>
      <span class="block">
        <button 
          type="button" 
          class="item__button block margin__hori__auto add__to__cart__btn">
          Buy now
        </button>
      </span>
    </div>

    <div class="card position__rel box__shadow__normal card__margin__right card__sm__no__margin__right ">
      <div class="item__photo margin__auto block">
        <span class="block">
          <img class="object__fit" src="common/images/shirt2.png" alt="productImg">
        </span>
        <div class="item__photo__hover flex">
          <div class="hover__content margin__auto flex flex__column space__between">
            <span class="content__icon block margin__hori__auto">
              <button class="unset__properties flex">
                <i aria-hidden="true" class="heart outline icon"></i>
              </button>
            </span>
            <span class="block content__button margin__hori_auto">
              <a class="item__button block text__center quick__view" href="/view-item">Quick View</a>
            </span>
          </div>
        </div>
      </div>
      <span class="item__title block text__center">
        Men's Knitware Offers
      </span>
      <span class="item__price block text__center">
        <span class="block text__center bold red__color">£16.95</span>
      </span>
      <span class="block">
        <button 
          type="button" 
          class="item__button block margin__hori__auto add__to__cart__btn">
          Buy now
        </button>
      </span>
    </div>

    <div class="card position__rel box__shadow__normal card__margin__right card__sm__no__margin__right ">
      <div class="item__photo margin__auto block">
        <span class="block">
          <img class="object__fit" src="common/images/shirt3.png" alt="productImg">
        </span>
        <div class="item__photo__hover flex">
          <div class="hover__content margin__auto flex flex__column space__between">
            <span class="content__icon block margin__hori__auto">
              <button class="unset__properties flex">
                <i aria-hidden="true" class="heart outline icon"></i>
              </button>
            </span>
            <span class="block content__button margin__hori_auto">
              <a class="item__button block text__center quick__view" href="/view-item">Quick View</a>
            </span>
          </div>
        </div>
      </div>
      <span class="item__title block text__center">
        Men's Knitware Offers
      </span>
      <span class="item__price block text__center">
        <span class="block text__center bold red__color">£14.50</span>
      </span>
      <span class="block">
        <span class="radio__button__set flex space__between card__color__set margin__hori__auto">
          <span class="radio__button">
            <input type="radio" name="card__color__set" checked id="skyblue2" class="hide">
            <label class="block sky__blue position__rel skyblue" for="skyblue2"></label>
          </span>
          <span class="radio__button">
            <input type="radio" name="card__color__set" id="aquamarine2" class="hide">
            <label class="block sky__blue position__rel aquamarine" for="aquamarine2"></label>
          </span>
          <span class="radio__button">
            <input type="radio" name="card__color__set" id="redpink2" class="hide">
            <label class="block sky__blue position__rel redpink" for="redpink2"></label>
          </span>
        </span>
      </span>
    </div>

    <div class="card position__rel box__shadow__normal card__margin__right card__sm__no__margin__right ">
      <div class="item__photo margin__auto block">
        <span class="block">
          <img class="object__fit" src="common/images/shirt4.png" alt="productImg">
        </span>
        <div class="item__photo__hover flex">
          <div class="hover__content margin__auto flex flex__column space__between">
            <span class="content__icon block margin__hori__auto">
              <button class="unset__properties flex">
                <i aria-hidden="true" class="heart outline icon"></i>
              </button>
            </span>
            <span class="block content__button margin__hori_auto">
              <a class="item__button block text__center quick__view" href="/view-item">Quick View</a>
            </span>
          </div>
        </div>
      </div>
      <span class="item__title block text__center">
        New Look T-Shirt in Gradient Fade
      </span>
      <span class="item__price block text__center">
        <span class="block text__center bold red__color">£18.99</span>
      </span>
      <span class="hide">
        <button 
          type="button" 
          class="item__button block margin__hori__auto add__to__cart__btn">
          Buy now
        </button>
      </span>
    </div>

    <div class="card position__rel box__shadow__normal card__margin__right card__sm__no__margin__right ">
      <div class="item__photo margin__auto block">
        <span class="block">
          <img class="object__fit" src="common/images/shirt5.png" alt="productImg">
        </span>
        <div class="item__photo__hover flex">
          <div class="hover__content margin__auto flex flex__column space__between">
            <span class="content__icon block margin__hori__auto">
              <button class="unset__properties flex">
                <i aria-hidden="true" class="heart outline icon"></i>
              </button>
            </span>
            <span class="block content__button margin__hori_auto">
              <a 
                class="item__button block text__center quick__view" href="/view-item">Quick View</a>
            </span>
          </div>
        </div>
      </div>
      <span class="item__title block text__center">
        Novelty T-shirts
      </span>
      <span class="item__price block text__center">
        <span class="block text__center bold red__color">£15.95</span>
      </span>
      <span class="block">
        <button 
          type="button" 
          class="item__button block margin__hori__auto add__to__cart__btn">
          Buy now
        </button>
      </span>
    </div>

    <div class="card position__rel box__shadow__normal card__margin__right card__sm__no__margin__right ">
      <div class="item__photo margin__auto block">
        <span class="block">
          <img class="object__fit" src="common/images/shirt6.png" alt="productImg">
        </span>
        <div class="item__photo__hover flex">
          <div class="hover__content margin__auto flex flex__column space__between">
            <span class="content__icon block margin__hori__auto">
              <button class="unset__properties flex">
                <i aria-hidden="true" class="heart outline icon"></i>
              </button>
            </span>
            <span class="block content__button margin__hori_auto">
              <a class="item__button block text__center quick__view" href="/view-item">Quick View</a>
            </span>
          </div>
        </div>
      </div>
      <span class="item__title block text__center">
        Various T-shorts
      </span>
      <span class="item__price block text__center">
        <span class="block text__center bold red__color">£16.50</span>
      </span>
      <span class="block">
        <button 
          type="button" 
          class="item__button block margin__hori__auto add__to__cart__btn">
          Buy now
        </button>
      </span>
    </div>

  </span>
</main>
