<section class="catalogue">
  <div class="flex flex__wrap space__between inner__container margin__hori__auto">
    <span class="flex flex__wrap space__between card__list__md__flex__start card__list__sm__space__around full__width hotzone">
      <div class="card position__rel box__shadow__normal card__margin__right card__sm__no__margin__right hotzone__card">
        <button 
          disabled="disabled" 
          type="button" 
          class="item__button block position__abs hot__button">
          HOT
        </button>
        <div class="item__photo margin__auto block card__photo">
          <img class="object__fit" src="common/images/shirt2.png" alt="productImg">
          <div class="item__photo__hover flex">
            <div class="hover__content margin__auto flex flex__column space__between">
              <span class="content__icon block margin__hori__auto">
                <button class="unset__properties flex">
                  <i aria-hidden="true" class="heart outline icon"></i>
                </button>
              </span>
              <span
                class="block content__button margin__hori_auto">
                <a class="item__button block text__center quick__view" href="/view-item">Quick View</a>
              </span>
            </div>
          </div>
        </div>
        <span class="item__title block text__center">Arc d'Triomphe</span>
        <span class="item__price block text__center">
          <span class="block text__center  bold red__color">£14.99</span>
        </span>
        <span class="block">
          <button 

            type="button"
            class="item__button block margin__hori__auto card__button">
            Buy now
          </button>
        </span>
      </div>
      <div class="card position__rel box__shadow__normal card__margin__right card__sm__no__margin__right hotzone__card">
        <div class="item__photo margin__auto block card__photo">
          <img class="object__fit" src="common/images/shirt5.png" alt="productImg">
          <div class="item__photo__hover flex">
            <div class="hover__content hover__content__target margin__auto flex flex__column space__between">
              <span class="block">
                <span class="item__title block text__center black__color">Arc d'Triomphe</span>
              </span>
              <span class="item__price block text__center">
                <span class="block text__center bold red__color">£14.99</span>
              </span>
              <span class="block">
                <span class="radio__button__set flex space__between card__color__set margin__hori__auto">
                  <span class="radio__button">
                    <input type="radio" name="hotzone__target__card__color__set" checked id="skyblue4" class="hide">
                    <label class="block sky__blue position__rel skyblue" for="skyblue4"></label>
                  </span>
                  <span class="radio__button">
                    <input type="radio" name="hotzone__target__card__color__set" id="aquamarine4" class="hide">
                    <label class="block sky__blue position__rel aquamarine" for="aquamarine4"></label>
                  </span>
                  <span class="radio__button">
                    <input type="radio" name="hotzone__target__card__color__set" id="redpink4" class="hide">
                    <label class="block sky__blue position__rel redpink" for="redpink4"></label>
                  </span>
                </span>
              </span>
              <span
                class="block content__button margin__hori_auto">
                <div class="flex space__between flex__wrap wish__list align__center">
                  <select id="" name="" class="size__dropdown outline__none">
                    <option value="">size</option>
                    <option value="x">X</option>
                    <option value="m">M</option>
                    <option value="l">L</option>
                    <option value="xl">XL</option>
                    <option value="xxl">XXL</option>
                  </select>
                  <button type="button" class="item__button block margin__hori__auto margin__none">Buy now</button>
                </div>
              </span>
              <span class="content__icon block margin__hori__auto">
                <button class="unset__properties flex"><i aria-hidden="true" class="heart outline icon red__color"></i>
                  <span class="favourite__label black__color">Add to Wish List</span>
                </button>
              </span>
            </div>
          </div>
        </div>
        <span class="item__title block text__center black__color">Arc d'Triomphe</span>
      </div>
      <div class="card position__rel box__shadow__normal card__margin__right card__sm__no__margin__right hotzone__card">
        <div class="item__photo margin__auto block card__photo">
          <img class="object__fit" src="common/images/shirt1.png" alt="productImg">
          <div class="item__photo__hover flex">
            <div class="hover__content margin__auto flex flex__column space__between">
              <span class="content__icon block margin__hori__auto">
                <button class="unset__properties flex">
                  <i aria-hidden="true" class="heart outline icon"></i>
                </button>
              </span>
              <span
                class="block content__button margin__hori_auto">
                <a class="item__button block text__center quick__view" href="/view-item">Quick View</a>
              </span>
            </div>
          </div>
        </div>
        <span class="item__title block text__center">Arc d'Triomphe</span>
        <span class="item__price block text__center">
          <span class="block text__center bold red__color">£14.99</span>
        </span>
        <span class="block">
          <span class="radio__button__set flex space__between card__color__set margin__hori__auto">
            <span class="radio__button">
              <input type="radio" name="hotzone__card__color__set" id="skyblue3" class="hide">
              <label class="block sky__blue position__rel skyblue" for="skyblue3"></label>
            </span>
            <span class="radio__button">
              <input type="radio" name="hotzone__card__color__set" checked id="aquamarine3" class="hide">
              <label class="block sky__blue position__rel aquamarine" for="aquamarine3"></label>
            </span>
            <span class="radio__button">
              <input type="radio" name="hotzone__card__color__set" id="redpink3" class="hide">
              <label class="block sky__blue position__rel redpink" for="redpink3"></label>
            </span>
          </span>
        </span>
      </div>
    </span>
  </div>
</section>

