<section class="inner__container category__nav__section flex margin__auto position__rel ">
  <span class="bg__image bg__fade70">
    <img 
      class="" 
      src="common/images/Images-modal4.png" 
      alt="img"
      />
  </span>
  <div class="inner__category margin__auto">
    <h1 class="position__rel category__title">Men's Ware</h1>
    <div class="position__rel flex space__between flex__wrap">
      <ul class="list__style__none category__item__links">
        <li><a href="/">Accessories</a></li>
        <li><a href="/">ASOS Basic Tops</a></li>
        <li><a href="/">Bags</a></li>
        <li><a href="/">Caps &amp; Hats</a></li>
        <li><a href="/">Gifts</a></li>
        <li><a href="/">Grooming</a></li>
      </ul>
      <ul class="list__style__none category__item__links">
        <li><a href="/">Hoodies &amp; Sweatshirts</a></li>
        <li><a href="/">Jackets &amp; Coats</a></li>
        <li><a href="/">Jeans</a></li>
        <li><a href="/">Jewellery</a></li>
        <li><a href="/">Joggers</a></li>
        <li><a href="/">Jumpers &amp; Cardigans</a></li>
      </ul>
      <ul class="list__style__none category__item__links">
        <li><a href="/">Leather Jackets</a></li>
        <li><a href="/">Long Sleeve T-Shirts</a></li>
        <li><a href="/">Loungewear</a></li>
        <li><a href="/">Oversized &amp; Longline</a></li>
        <li><a href="/">Polo Shirts</a></li>
        <li><a href="/">Shirts</a></li>
      </ul>
    </div>
  </div>
</section>

