<div class="inner__container position__rel  margin__hori__auto newsletter">
  <div class="newsletter__inner flex newsletter__sm__flex__column">
    <div class="flex__one subscribe__info flex align__center sm__subscribe__info">
      <h3 class="">SUBSCRIBE FOR SHOP NEWS, UPDATES AND SPECIAL OFFERS</h3>
    </div>
    <form class="newsletter__form flex flex__wrap space__between sm__newsletter__form">
      <span class="form__input__wrapper block position__rel">
        <span class="input__icon input__left__icon subscribe__icon">
          <i aria-hidden="true" class="envelope outline icon"></i>
        </span>
        <input 
          autocomplete="off" 
          class="item__input form_input" 
          type="email" 
          name="subscribe" 
          placeholder="Your e-mail here"
          />
      </span>
      <button 
        type="submit" 
        class="item__button block">
        Subscribe
      </button>
    </form>
  </div>
</div>
