<div class="panel__section">
  <span class="gray__color panel__title block ">Size</span>
  <span class="square__button__set flex flex__wrap">
    <span class="square__button">
      <input type="radio" name="square__set" checked id="XS" class="hide">
      <label class="block position__rel " for="XS">XS</label>
    </span>
    <span class="square__button">
      <input type="radio" name="square__set" id="S" class="hide">
      <label class="block position__rel " for="S">S</label>
    </span>
    <span class="square__button">
      <input type="radio" name="square__set" id="M" class="hide">
      <label class="block position__rel " for="M">M</label>
    </span>
    <span class="square__button">
      <input type="radio" name="square__set" id="L" class="hide">
      <label class="block position__rel " for="L">L</label>
    </span>
    <span class="square__button">
      <input type="radio" name="square__set" id="XL" class="hide">
      <label class="block position__rel " for="XL">XL</label>
    </span>
    <span class="square__button">
      <input type="radio" name="square__set" id="XXL" class="hide">
      <label class="block position__rel " for="XXL">XXL</label>
    </span>
  </span>
</div>
