<div class="footer__inner margin__auto">
  <ul class="flex space__between category__links list__style__none footer__category__links footer__vert__margin justify__center footer__md__category__links">
    <li><a class="link" href="/">Women</a></li>
    <li><a class="link" href="/">Men</a></li>
    <li><a class="link" href="/">Kids</a></li>
    <li><a class="link" href="/">Shoes</a></li>
    <li><a class="link" href="/">Brands</a></li>
  </ul>
  <ul class="flex list__style__none  footer__vert__margin footer__social__links justify__center">
    <li>
      <a class="flex link" href="/"><i aria-hidden="true" class="instagram icon social__icon"></i></a>
    </li>
    <li>
      <a class="flex link" href="/"><i aria-hidden="true" class="pinterest p icon social__icon"></i></a>
    </li>
    <li>
      <a class="flex link" href="/"><i aria-hidden="true" class="twitter icon social__icon"></i></a>
    </li>
    <li>
      <a class="flex link" href="/"><i aria-hidden="true" class="facebook f icon social__icon"></i></a>
    </li>
  </ul>
  <ul class="flex list__style__none  footer__vert__margin footer__final__links justify__center flex__wrap">
    <li class="light_gray__color">© 2019 shopmate Ltd</li>
    <li class="dot light_gray__color">.</li>
    <li>
      <a class="light_gray__color" href="/">Contact</a>
    </li>
    <li class="dot light_gray__color">.</li>
    <li>
      <a class="light_gray__color" href="/">Private policy</a>
    </li>
  </ul>
</div>
