<div class="flex__one normal__padding viewitem__info">
  <div class="level__links__wrapper">
    <ul class="list__style__none flex level__links sm__level__links">
      <li class="level__link position__rel"><a href="/">Home</a></li>
      <li class="level__link position__rel"><a href="/">All Category</a></li>
      <li class="level__link position__rel"><a href="/">Men's Clothing &amp; Accessories</a></li>
    </ul>
  </div>
  <br>
  <div class="rating__wrapper">
    <div class="ui star huge disabled rating outline__none" role="radiogroup" tabindex="0">
      <i tabindex="-1" aria-checked="false" aria-posinset="1" aria-setsize="5" class="active icon" role="radio"></i>
      <i tabindex="-1" aria-checked="false" aria-posinset="2" aria-setsize="5" class="active icon" role="radio"></i>
      <i tabindex="-1" aria-checked="false" aria-posinset="3" aria-setsize="5" class="active icon" role="radio"></i>
      <i tabindex="-1" aria-checked="true" aria-posinset="4" aria-setsize="5" class="active icon" role="radio"></i>
      <i tabindex="-1" aria-checked="false" aria-posinset="5" aria-setsize="5" class="inactive icon" role="radio"></i>
    </div>
  </div>
  <br>
  <div class="item__name">
    <h2>Arc d'Triomphe</h2>
  </div>
  <span class="item__price block viewitem__currency">
    <span class="block text__center">£14.99</span>
  </span>
  <div class="panel__section">
    <span class="gray__color panel__title block panel__title__style">Color</span>
    <span class="radio__button__set flex space__between viewitem__color__panel__width">
      <span class="radio__button">
        <input type="radio" name="color__set" id="skyblue" class="hide">
        <label class="block sky__blue position__rel skyblue" for="skyblue">
        </label>
      </span>
      <span class="radio__button">
        <input type="radio" name="color__set" id="aquamarine" class="hide">
        <label class="block sky__blue position__rel aquamarine" for="aquamarine"></label>
      </span>
      <span class="radio__button">
        <input type="radio" name="color__set" id="redpink" class="hide">
        <label class="block sky__blue position__rel redpink" for="redpink"></label>
      </span>
      <span class="radio__button">
        <input type="radio" checked name="color__set" id="red" class="hide">
        <label class="block sky__blue position__rel red" for="red"></label>
      </span>
      <span class="radio__button">
        <input type="radio" name="color__set" id="yellow" class="hide">
        <label class="block sky__blue position__rel yellow" for="yellow"></label>
      </span>
      <span class="radio__button">
        <input type="radio" name="color__set" id="green" class="hide">
        <label class="block sky__blue position__rel green" for="green"></label>
      </span>
      <span class="radio__button">
        <input type="radio" name="color__set" id="purple" class="hide">
        <label class="block sky__blue position__rel purple" for="purple"></label>
      </span>
    </span>
  </div>
  <div class="panel__section">
    <span class="flex space__between size__section align__center">
      <span class="gray__color panel__title block panel__title__style">Size</span>
      <span class="red__color">Size guide</span>
    </span>
    <span class="radio__button__set flex flex__wrap viewitem__size__panel__width">
      <span class="square__button">
        <input type="radio" name="square__set" id="XS" class="hide">
        <label class="block position__rel " for="XS">XS</label>
      </span>
      <span class="square__button">
        <input type="radio" name="square__set" id="S" class="hide">
        <label class="block position__rel " for="S">S</label>
      </span>
      <span class="square__button">
        <input type="radio" name="square__set" id="M" class="hide">
        <label class="block position__rel " for="M">M</label>
      </span>
      <span class="square__button">
        <input type="radio" name="square__set" id="L" class="hide">
        <label class="block position__rel " for="L">L</label>
      </span>
      <span class="square__button">
        <input type="radio" name="square__set" id="XL" class="hide">
        <label class="block position__rel " for="XL">XL</label>
      </span>
      <span class="square__button">
        <input type="radio" checked name="square__set" id="XL" class="hide">
        <label class="block position__rel " for="XL">XXL</label>
      </span>
    </span>
  </div>
  <div class="panel__section">
    <span class="gray__color panel__title block panel__title__style">Quatity</span>
    <span class="radio__button__set flex viewitem__size__panel__width position__rel reset__select__quantity__padding">
      <div class="flex">
        <button class="unset__properties round__button ">
          <i aria-hidden="true" class="minus icon"></i>
        </button>
        <div class="item__quantity bold">1</div>
        <button class="unset__properties round__button ">
          <i aria-hidden="true" class="plus icon"></i>
        </button>
      </div>
    </span>
  </div>
  <br>
  <div class="flex space__between flex__wrap wish__list">
    <button type="button" 
      class="item__button 
      block wish__list__button">
      Add to cart
    </button>
    <button class="unset__properties flex">
      <i aria-hidden="true" class="heart outline icon red__color"></i>
      <span class="favourite__label">Add to Wish List</span>
    </button>
  </div>
</div>
