<div class="flex__one viewitem__photo normal__padding">
  <div 
    id="item__photo__wrapper"
    class="photo__top flex overflow__hidden">
    <span class="photo__lg block margin__auto">
      <span class="block">
        <img 
          class="object__fit current" 
          src="common/images/shirt1.png" 
          alt="one"
          />
      </span>
    </span>
  </div>
  <div class="hori__spacing"></div>
  <div class="hori__spacing"></div>
  <div class="hori__spacing"></div>
  <ul 
    id="item__photo__thumbnails"
    class="list__style__none photo__thumbnails flex space__between margin__hori__auto">
    <li>
      <span class="photo__sm block overflow__hidden">
        <img 
          class="object__fit" 
          src="common/images/shirt1.png" 
          alt="one"/>
      </span>
    </li>
    <li>
      <span class="photo__sm block overflow__hidden">
        <img 
          class="object__fit" 
          src="common/images/shirt2.png" 
          alt="two"/>
      </span>
    </li>
    <li>
      <span class="photo__sm block overflow__hidden">
        <img 
          class="object__fit" 
          src="common/images/shirt3.png" 
          alt="three"
          />
      </span>
    </li>
  </ul>
</div>

