<div class="flex__one viewitem__photo normal__padding">
  <div class="photo__top flex">
    <span class="photo__lg block margin__auto overflow__hidden">
      <img class="object__fit" src="assets/images/shirt1.png" alt="large">
    </span>
  </div>
  <div class="hori__spacing"></div>
  <div class="hori__spacing"></div>
  <div class="hori__spacing"></div>
  <ul class="list__style__none photo__thumbnails flex space__between margin__hori__auto">
    <li>
      <span class="photo__sm block overflow__hidden">
        <img class="object__fit" src="assets/images/shirt1.png" alt="one">
      </span>
    </li>
    <li>
      <span class="photo__sm block overflow__hidden">
        <img class="object__fit" src="assets/images/shirt2.png" alt="one">
      </span>
    </li>
    <li>
      <span class="photo__sm block overflow__hidden">
        <img class="object__fit" src="assets/images/shirt3.png" alt="one">
      </span>
    </li>
  </ul>
</div>

