<h2>Product Reviews</h2>
<ul class="list__style__none review__list">
  <li class="flex flex__wrap">
    <div class="reviewer">
      <div class="rating__wrapper">
        <div class="ui star huge disabled rating outline__none" role="radiogroup" tabindex="0">
          <i tabindex="-1" aria-checked="false" aria-posinset="1" aria-setsize="5" class="active icon" role="radio"></i>
          <i tabindex="-1" aria-checked="false" aria-posinset="2" aria-setsize="5" class="active icon" role="radio"></i>
          <i tabindex="-1" aria-checked="false" aria-posinset="3" aria-setsize="5" class="active icon" role="radio"></i>
          <i tabindex="-1" aria-checked="true" aria-posinset="4" aria-setsize="5" class="active icon" role="radio"></i>
          <i tabindex="-1" aria-checked="false" aria-posinset="5" aria-setsize="5" class="icon" role="radio"></i>
        </div>
      </div>
      <div class="reviewer__detail">
        <span class="block reviewer__name">
          john doe
        </span>
        <span class="block review__timestamps">
          2 days ago
        </span>
      </div>
    </div>
    <div class="review__detail flex__one">
      <div class="review__text md__min__width">Amet velit voluptates magni deserunt est! Dignissimos quisquam dicta at!0</div>
      <br>
      <div class="review__reaction">
        <div class="reaction__icons flex space__between">
          <span class="flex">
            <button class="unset__properties round__button margin__none">
              <i aria-hidden="true" class="heart outline icon red__color"></i>
            </button>
            <span class="review__figures">116</span>
          </span>
          <span class="flex">
            <button class="unset__properties round__button margin__none">
              <i aria-hidden="true" class="comment outline icon"></i></button>
            <span class="review__figures">32</span>
          </span>
        </div>
      </div>
    </div>
  </li>

  <li class="flex flex__wrap">
    <div class="reviewer">
      <div class="rating__wrapper">
        <div class="ui star huge disabled rating outline__none" role="radiogroup" tabindex="0">
          <i tabindex="-1" aria-checked="false" aria-posinset="1" aria-setsize="5" class="active icon" role="radio"></i>
          <i tabindex="-1" aria-checked="false" aria-posinset="2" aria-setsize="5" class="active icon" role="radio"></i>
          <i tabindex="-1" aria-checked="false" aria-posinset="3" aria-setsize="5" class="active icon" role="radio"></i>
          <i tabindex="-1" aria-checked="true" aria-posinset="4" aria-setsize="5" class="active icon" role="radio"></i>
          <i tabindex="-1" aria-checked="false" aria-posinset="5" aria-setsize="5" class="icon" role="radio"></i>
        </div>
      </div>
      <div class="reviewer__detail">
        <span class="block reviewer__name">
          john doe
        </span>
        <span class="block review__timestamps">
          2 days ago
        </span>
      </div>
    </div>
    <div class="review__detail flex__one">
      <div class="review__text md__min__width">Amet velit voluptates magni deserunt est! Dignissimos quisquam dicta at!0</div>
      <br>
      <div class="review__reaction">
        <div class="reaction__icons flex space__between">
          <span class="flex">
            <button class="unset__properties round__button margin__none">
              <i aria-hidden="true" class="heart outline icon red__color"></i>
            </button>
            <span class="review__figures">116</span>
          </span>
          <span class="flex">
            <button class="unset__properties round__button margin__none">
              <i aria-hidden="true" class="comment outline icon"></i></button>
            <span class="review__figures">32</span>
          </span>
        </div>
      </div>
    </div>
  </li>

  <li class="flex flex__wrap">
    <div class="reviewer">
      <div class="rating__wrapper">
        <div class="ui star huge disabled rating outline__none" role="radiogroup" tabindex="0">
          <i tabindex="-1" aria-checked="false" aria-posinset="1" aria-setsize="5" class="active icon" role="radio"></i>
          <i tabindex="-1" aria-checked="false" aria-posinset="2" aria-setsize="5" class="active icon" role="radio"></i>
          <i tabindex="-1" aria-checked="false" aria-posinset="3" aria-setsize="5" class="active icon" role="radio"></i>
          <i tabindex="-1" aria-checked="true" aria-posinset="4" aria-setsize="5" class="active icon" role="radio"></i>
          <i tabindex="-1" aria-checked="false" aria-posinset="5" aria-setsize="5" class="icon" role="radio"></i>
        </div>
      </div>
      <div class="reviewer__detail">
        <span class="block reviewer__name">
          john doe
        </span>
        <span class="block review__timestamps">
          2 days ago
        </span>
      </div>
    </div>
    <div class="review__detail flex__one">
      <div class="review__text md__min__width">Elit ea aspernatur magni numquam laboriosam! Eos architecto quidem ipsam ullam repellat Nobis aliquam architecto exercitationem ducimus sunt ut error quisquam! Id illum nostrum in ullam aspernatur Eum corrupti odio.0</div>
      <br>
      <div class="review__reaction">
        <div class="reaction__icons flex space__between">
          <span class="flex">
            <button class="unset__properties round__button margin__none">
              <i aria-hidden="true" class="heart outline icon red__color"></i>
            </button>
            <span class="review__figures">116</span>
          </span>
          <span class="flex">
            <button class="unset__properties round__button margin__none">
              <i aria-hidden="true" class="comment outline icon"></i></button>
            <span class="review__figures">32</span>
          </span>
        </div>
      </div>
    </div>
  </li>
</ul>
