<section class="navbar__dark flex desktop__items">
  <div class="inner__container navbar__inner">
    <div class=" flex space__between margin__vert__auto">
      <div class="brand__name margin__vert__auto">
        <a href="/">SHOPMATE</a>
      </div>
      <div class="margin__vert__auto">
        <ul class="flex space__between category__links info__links list__style__none">
          <li>
            <a href="/">Women</a>
          </li>
          <li>
            <a href="/">Men</a>
          </li>
          <li>
            <a href="/">Kids</a>
          </li>
          <li>
            <a href="/">Shoes</a>
          </li>
          <li>
            <a href="/">Brands</a>
          </li>
        </ul>
      </div>
      <div class="flex">
        <div class="navbar__search ">
          <form>
            <span class="input__icon input__left__icon search__lens">
              <i aria-hidden="true" class="search icon"></i>
            </span>
            <input 
              autocomplete="off" 
              class="item__input search__input" 
              type="text" 
              name="search" 
              placeholder="search anything" 
              value=""
              />
            <span class="input__icon input__right__icon cancel__icon">
              <i aria-hidden="true" class="x icon">
              </i>
            </span>
          </form>
        </div>
        <div 
          class="margin__vert__auto">
          <span class="cart__icon">
            <i aria-hidden="true" class="shopping cart icon"></i>
            <span class="item__count item__count__invert">9+</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<section 
  class="navbar__dark flex mobile__items">
  <div class="inner__container navbar__inner">
    <div class=" flex space__between margin__vert__auto">
      <div class="brand__name margin__vert__auto">
        <a href="/">SHOPMATE</a>
      </div>
      <div class="mobile__navbar">
        <input 
          id="navbar__dropdown" 
          name="navbar__dropdown" 
          type="checkbox"><label 
          for="navbar__dropdown">
            <i aria-hidden="true" class="bars icon"></i>
        </label>
        <div class="flex dropdown__items">
          <span class="bg__image">
            <img src="https://images.pexels.com/photos/7432/pexels-photo.jpg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=750&amp;w=1260" alt="img">
          </span>
          <div class="flex__two flex">
            <div class="item__info margin__auto">
              <span class="item__title">
                Back to the Earth
              </span>
              <br>
              <span class="item__desc">
                Keep it light and clean with this effortlessly chic, maritime inspired look.
              </span>
            </div>
          </div>
          <div class="flex__one flex flex__column links__search">
            <ul class="margin__auto items list__style__none">
              <li><a href="/">Women</a></li>
              <li><a href="/">Men</a></li>
              <li><a href="/">Kids</a></li>
              <li><a href="/">Shoes</a></li>
              <li><a href="/">Brands</a></li>
            </ul>
            <div class="navbar__search md__search__input">
              <form>
                <span class="input__icon input__left__icon search__lens">
                  <i aria-hidden="true" class="search icon"></i>
                </span>
                <input autocomplete="off" class="item__input search__input" type="text" name="search" placeholder="search anything" value="">
                <span class="input__icon input__right__icon cancel__icon">
                  <i aria-hidden="true" class="x icon"></i>
                </span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
