<section class="navbar__light flex">
  <div class="inner__container navbar__inner">
    <ul class="flex space__between align__center margin__vert_auto full__width small__device__flex__col list__style__none">
      <li>
        <span>Hi!  </span>
        <button>Sign in</button>  or  <button>Register</button>
      </li>
      <li class="flex space__between info__links desktop__items">
        <a href="/">Daily Deals</a>
        <a href="/">Sell</a>
        <a href="/">Help & Contact</a>
      </li>
      <li class="flex flag__cart small__device__flex__col">
        <div class="flex space__between align__center">
          <span class="uk__flag">
            <img src="common/images/gbr.png" alt="UK_FLAG" />
          </span>
          <span>
            &pound;GBP
          </span>
        </div>
        <div class="flex space__between align__center">
          <span 
            onclick=""
            class="cart__icon show__view__cart">
            <i aria-hidden="true" class="shopping cart icon"></i>
            <span class="item__count">0</span>
          </span>
          <span>
            Your bag: 
            &pound;3.99
          </span>
        </div>
      </li>
    </ul>
  </div>
</section>
