<tr class="flex space__between cart__item__list">
  <td class="item flex__two">
    <div class="flex">
      <div class="cart__photo overflow__hidden">
        <img 
          class="object__fit" 
          src="common/images/shirt3.png" 
          alt="shirt1"
          />
      </div>
      <div class="cart__info flex flex__column space__between">
        <span class="block cart__item__name capitalize">
          Green T-shirt 2016
        </span>
        <span class="block uppercase">L Red</span>
        <span class="block remove__item">
          <button class="cart__remove unset__properties">
            <i aria-hidden="true" class="cancel icon red__color"></i>
            <span>Remove</span>
          </button>
        </span>
      </div>
    </div>
  </td>
  <td class="size flex__one bold uppercase">XXL</td>
  <td class="quantity flex__one">
    <div class="flex">
      <button class="unset__properties round__button ">
        <i aria-hidden="true" class="minus icon"></i>
      </button>
      <div class="item__quantity">1</div>
      <button class="unset__properties round__button ">
        <i aria-hidden="true" class="plus icon"></i>
      </button>
    </div>
  </td>
  <td class="price flex__one">
    <span class="item__price view__cart__price">
      <span class="block text__center">£15.99</span>
    </span>
  </td>
</tr>

